name: Build and Deploy Docker
on:
  workflow_dispatch:
    inputs:
      tags:
        description: "Test"
        required: false
        type: boolean
  push:
    branches: [ main ]
  

jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@master

    - name: Build Container
      run: docker build . -t ghcr.io/${{ github.repository }}:${{ github.sha }} -t ghcr.io/${{ github.repository }}:latest

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2.2.0
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.ACTIONS_PAT }}

    - name: Push Container
      run: docker push ghcr.io/${{ github.repository }}:latest
